.calculator__display {
  padding: 0.5rem 0;
  color: transparent;
  text-shadow: 0 0 0 #ffffff;
  text-align: right;
  font-size: 2.5rem;
  line-height: 3rem;
  border-radius: 3px;
  margin-bottom: 1rem;
  cursor: default;
  outline: none;
  background: transparent;
  border: none;
}
.calculator__display:focus {
  outline: none;
}
