.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}
.history__title {
  margin: 0 0 1rem 0;
  color: #ffffff;
}
.history__display {
  border-radius: 5px;
  border: 1px solid #dedede;
  background: #ffffff;
  padding: 1rem;
  line-height: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100vh;
}
.history__item {
}
